<form class="contact_form" name="contact_form" method="post" action="{% url 'edit_car' car_detail.id %}" enctype="multipart/form-data">
    {% csrf_token %}
<div class="row">
    
    <div class="col-lg-12">
        <div style="background-color: #fff;border: 1px solid #EAEAEA;border-radius: 8px;margin-bottom: 30px;padding: 30px;position: relative;">
            <div class="upload__box">
              <div class="upload__btn-box">
                <label class="upload__btn">
                  <p>Upload images</p>
                  <input type="file" multiple="" data-max_length="20" class="upload__inputfile" name="car_images">
                </label>
              </div>
              <div class="upload__img-wrap"></div>
            </div>
        </div>
    </div>
    
    <div class="col-lg-12">
        <div class="new_property_form">
            <h4 class="title mb30">Key Information</h4>

                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="ui_kit_select_search add_new_property mb20">
                            <label class="form-label">Car Brands</label>
                            <div class="dropdown bootstrap-select" style="width: 100%;">
                                <select class="form-select addcar-select" data-live-search="true" data-width="100%" name="car_brand" id="car_brand" required>
                                     <option>Select Brands</option>
                                        {% for car_brand in car_brands %}
                                            {% if car_detail.variant.model.brand.id == car_brand.id %}
                                                <option value="{{car_brand.id}}" selected>{{car_brand.name}}</option>
                                            {% else %}
                                                <option value="{{car_brand.id}}">{{car_brand.name}}</option>
                                            {% endif %}
                                        {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="ui_kit_select_search add_new_property mb20">
                            <label class="form-label">Car Model</label>
                            <div class="dropdown bootstrap-select car_models" id="car_models" style="width: 100%;">
                                <select class="form-select addcar-select" data-live-search="true" data-width="100%" name="car_model" id="car_model" required>
                                    <option value="{{car_detail.variant.model.id}}" selected>{{car_detail.variant.model.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="ui_kit_select_search add_new_property mb20">
                            <label class="form-label">Car Variants</label>
                            <div class="dropdown bootstrap-select" style="width: 100%;">
                                <select class="form-select addcar-select" data-live-search="true" data-width="100%" name="car_variants" id="car_variants" required>
                                    <option value="{{car_detail.variant.id}}" selected>{{car_detail.variant.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="mb20">
                            <label class="form-label">Year</label>
                            <input name="car_year" id="car_year" class="form-control form_control" type="number" min="1900" max="2099" step="1" value="{{car_detail.car_year}}" placeholder="Year" required>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="ui_kit_select_search add_new_property mb20">
                            <label class="form-label">Ownership</label>
                            <div class="dropdown bootstrap-select" style="width: 100%;">
                                <select class="form-select addcar-select" data-live-search="true" data-width="100%" name="ownership" id="ownership" required>
                                    <option value="">Select</option>
                                    <option value="1st Owner" {% if car_detail.ownership == "1st Owner"  %} selected {% endif %}>First</option>
                                    <option value="2nd Owner" {% if car_detail.ownership == "2nd Owner"  %} selected {% endif %}>Second</option>
                                    <option value="3rd Owner" {% if car_detail.ownership == "3rd Owner"  %} selected {% endif %}>Third</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="mb20">
                            <label class="form-label">Total Km Driven</label>
                            <input name="total_km" id="total_km" class="form-control form_control" type="number" placeholder="km" value="{{car_detail.total_km_driven}}" required>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="mb20">
                            <label class="form-label">Car Color</label>
                            <input name="car_color" id="car_color" class="form-control form_control" type="text" placeholder="Color" value="{{car_detail.color}}" required>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="ui_kit_select_search add_new_property mb20">
                            <label class="form-label">Fuel Type</label>
                            <div class="dropdown bootstrap-select" style="width: 100%;">
                                <select class="selectpicker" data-live-search="true" data-width="100%" name="fuel_type" id="fuel_type" required>
                                    <option value="">Select</option>
                                    <option data-tokens="CNG" {% if car_detail.fuel_type == "CNG"  %} selected {% endif %}>CNG</option>
                                    <option data-tokens="Hybrid" {% if car_detail.fuel_type == "Hybrid"  %} selected {% endif %}>Hybrid</option>
                                    <option data-tokens="Diesel" {% if car_detail.fuel_type == "Diesel"  %} selected {% endif %}>Diesel</option>
                                    <option data-tokens="Petrol" {% if car_detail.fuel_type == "Petrol"  %} selected {% endif %}>Petrol</option>
                                </select>
                                <div class="dropdown-menu ">
                                    <div class="bs-searchbox"><input type="search" class="form-control" autocomplete="off" role="combobox" aria-label="Search" aria-controls="bs-select-4" aria-autocomplete="list"></div>
                                    <div class="inner show" role="listbox" id="bs-select-4" tabindex="-1">
                                        <ul class="dropdown-menu inner show" role="presentation"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="ui_kit_select_search add_new_property mb20">
                            <label class="form-label">Transmission</label>
                            <div class="dropdown bootstrap-select" style="width: 100%;">
                                <select class="form-select addcar-select" data-live-search="true" data-width="100%" name="car_transmission" id="car_transmission" required>
                                    <option value="">Select</option>
                                    <option value="Manual" {% if car_detail.car_transmission == "Manual"  %} selected {% endif %}>Manual</option>
                                    <option value="Automatic" {% if car_detail.car_transmission == "Automatic"  %} selected {% endif %}>Automatic</option>
                                </select>
                                <div class="dropdown-menu ">
                                    <div class="bs-searchbox"><input type="search" class="form-control" autocomplete="off" role="combobox" aria-label="Search" aria-controls="bs-select-4" aria-autocomplete="list"></div>
                                    <div class="inner show" role="listbox" id="bs-select-4" tabindex="-1">
                                        <ul class="dropdown-menu inner show" role="presentation"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="ui_kit_select_search add_new_property mb20">
                            <label class="form-label">Total No Of Keys</label>
                            <div class="dropdown bootstrap-select" style="width: 100%;">
                                <select class="form-select addcar-select" data-live-search="true" data-width="100%" name="total_keys" id="total_keys" required>
                                    <option value="">Select</option>
                                    <option value=1 {% if car_detail.total_keys == 1  %} selected {% endif %}>1 Keys</option>
                                    <option value=2 {% if car_detail.total_keys == 2  %} selected {% endif %}>2 Keys</option>
                                </select>
                                <div class="dropdown-menu ">
                                    <div class="bs-searchbox"><input type="search" class="form-control" autocomplete="off" role="combobox" aria-label="Search" aria-controls="bs-select-4" aria-autocomplete="list"></div>
                                    <div class="inner show" role="listbox" id="bs-select-4" tabindex="-1">
                                        <ul class="dropdown-menu inner show" role="presentation"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="mb20">
                            <label class="form-label">Engine Capacity</label>
                            <input name="engine_capacity" id="engine_capacity" class="form-control form_control" type="text" placeholder="Capacity..." value="{{car_detail.engine_capacity}}" required>
                        </div>
                    </div>


                    <div class="col-sm-6 col-md-4">
                        <div class="ui_kit_select_search add_new_property mb20">
                            <label class="form-label">Insurance Type</label>
                            <div class="dropdown bootstrap-select" style="width: 100%;">
                                <select class="form-select addcar-select" data-live-search="true" data-width="100%" name="insurance_type" required>
                                    <option value="">Select</option>
                                    <option value="Zero Debt" {% if car_detail.insurance_type == "Zero Debt"  %} selected {% endif %}>Zero Debt</option>
                                    <option value="Comprehensive" {% if car_detail.insurance_type == "Comprehensive"  %} selected {% endif %}>Comprehensive</option>
                                    <option value="Third Party" {% if car_detail.insurance_type == "Third Party"  %} selected {% endif %}>Third Party</option>
                                    <option value="No Insurance" {% if car_detail.insurance_type == "No Insurance"  %} selected {% endif %}>No Insurance</option>
                                </select>
                                <div class="dropdown-menu ">
                                    <div class="bs-searchbox"><input type="search" class="form-control" autocomplete="off" role="combobox" aria-label="Search" aria-controls="bs-select-4" aria-autocomplete="list"></div>
                                    <div class="inner show" role="listbox" id="bs-select-4" tabindex="-1">
                                        <ul class="dropdown-menu inner show" role="presentation"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="mb20">
                            <label class="form-label">Insurance Valid Till</label>
                            <input name="insurance_validity" id="insurance_validity" class="form-control form_control" type="date" placeholder=" Insurance valid..." value="{{car_detail.insurance_validity|date:'Y-m-d'}}" required>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="mb20">
                            <label class="form-label">Fitness Valid Till</label>
                            <input name="fitness_validity" id="fitness_validity" class="form-control form_control" type="date" placeholder="Fitness Valid Till..." value="{{car_detail.fitness_validity|date:'Y-m-d'}}" required>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="mb20">
                            <label class="form-label">Pollution Valid Till</label>
                            <input name="pollution_validity" id="pollution_validity" class="form-control form_control" type="date" placeholder="Pollution Valid Till..." value="{{car_detail.pollution_validity|date:'Y-m-d'}}" required>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="mb20">
                            <label class="form-label">Registration Place</label>
                            <input name="registration_place" id="registration_place" class="form-control form_control" type="text" placeholder="Registration Place..." value="{{car_detail.registration_place}}" required>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="mb20">
                            <label class="form-label">Registration Number</label>
                            <input name="registration_no" id="registration_no" class="form-control form_control" type="text" placeholder="Registration Number..." value="{{car_detail.registration_no}}" required>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="mb20">
                            <label class="form-label">Demand Pricing</label>
                            <input name="demand_price" id="demand_price" class="form-control form_control" type="number" placeholder="Capacity..." value="{{car_detail.demand_price}}" required>
                        </div>
                    </div>
                </div>

        </div>
    </div>
    <div class="col-lg-12">
        <div class="new_property_form">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="title mb30">Interior and Exterior Features</h4>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="ui_kit_select_search add_new_property mb20">
                        <label class="form-label">Power Steering</label>
                        <div class="dropdown bootstrap-select" style="width: 100%;">
                            <select class="selectpicker" data-live-search="true" data-width="100%" name="power_steering" id="power_steering" required>
                                <option value="">Select</option>
                                {% if car_detail.power_steering %}
                                    <option data-tokens="Yes" selected>Yes</option>
                                    <option data-tokens="No">No</option>
                                {% else %}
                                    <option data-tokens="Yes">Yes</option>
                                    <option data-tokens="No" selected>No</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="ui_kit_select_search add_new_property mb20">
                        <label class="form-label">Cruise Control</label>
                        <div class="dropdown bootstrap-select" style="width: 100%;">
                            <select class="selectpicker" data-live-search="true" data-width="100%" name="cruise_control" id="cruise_control" required>
                                <option value="">Select</option>
                                {% if car_detail.cruise_control %}
                                    <option data-tokens="Yes" selected>Yes</option>
                                    <option data-tokens="No">No</option>
                                {% else %}
                                    <option data-tokens="Yes">Yes</option>
                                    <option data-tokens="No" selected>No</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="ui_kit_select_search add_new_property mb20">
                        <label class="form-label">Navigation System</label>
                        <div class="dropdown bootstrap-select" style="width: 100%;">
                            <select class="selectpicker" data-live-search="true" data-width="100%" name="navigation_system" id="navigation_system" required>
                                <option value="">Select</option>
                                {% if car_detail.navigation_system %}
                                    <option data-tokens="Yes" selected>Yes</option>
                                    <option data-tokens="No">No</option>
                                {% else %}
                                    <option data-tokens="Yes">Yes</option>
                                    <option data-tokens="No" selected>No</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="ui_kit_select_search add_new_property mb20">
                        <label class="form-label">Adjustable Steering</label>
                        <div class="dropdown bootstrap-select" style="width: 100%;">
                            <select class="selectpicker" data-live-search="true" data-width="100%" name="adjustable_steering" id="adjustable_steering" required>
                                <option value="">Select</option>
                                {% if car_detail.adjustable_steering %}
                                    <option data-tokens="Yes" selected>Yes</option>
                                    <option data-tokens="No">No</option>
                                {% else %}
                                    <option data-tokens="Yes">Yes</option>
                                    <option data-tokens="No" selected>No</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="ui_kit_select_search add_new_property mb20">
                        <label class="form-label">Adjustable ORVMs</label>
                        <div class="dropdown bootstrap-select" style="width: 100%;">
                            <select class="form-select addcar-select" data-live-search="true" data-width="100%" name="adjustable_orvm" id="adjustable_orvm" required>
                                <option value="">Select</option>
                                <option value="Electrically Adjustable" {% if car_detail.adjustable_orvm == "Electrically Adjustable"  %} selected {% endif %}>Electrically Adjustable</option>
                                <option value="Manually Adjustable" {% if car_detail.adjustable_orvm == "Manually Adjustable"  %} selected {% endif %}>Manually Adjustable</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="ui_kit_select_search add_new_property mb20">
                        <label class="form-label">Steering Control</label>
                        <div class="dropdown bootstrap-select" style="width: 100%;">
                            <select class="selectpicker" data-live-search="true" data-width="100%" name="steering_control" id="steering_control" required>
                                <option value="">Select</option>
                                {% if car_detail.steering_control %}
                                    <option data-tokens="Yes" selected>Yes</option>
                                    <option data-tokens="No">No</option>
                                {% else %}
                                    <option data-tokens="Yes">Yes</option>
                                    <option data-tokens="No" selected>No</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="ui_kit_select_search add_new_property mb20">
                        <label class="form-label">Air Conditioning</label>
                        <div class="dropdown bootstrap-select" style="width: 100%;">
                            <select class="form-select addcar-select" data-live-search="true" data-width="100%" name="air_conditioning" id="air_conditioning" required>
                                <option value="">Select</option>
                                <option value="Automatic Air Control" {% if car_detail.air_conditioning == "Automatic Air Control"  %} selected {% endif %}>Automatic Air Control</option>
                                <option value="Manual Control" {% if car_detail.air_conditioning == "Manual Control"  %} selected {% endif %}>Manual Control</option>
                                <option value="With Heater" {% if car_detail.air_conditioning == "With Heater"  %} selected {% endif %}>With Heater</option>
                                <option value="Without Heater" {% if car_detail.air_conditioning == "Without Heater"  %} selected {% endif %}>Without Heater</option>
                                <option value="No AC" {% if car_detail.air_conditioning == "No AC"  %} selected {% endif %}>No AC</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="ui_kit_select_search add_new_property mb20">
                        <label class="form-label">Power Window</label>
                        <div class="dropdown bootstrap-select" style="width: 100%;">
                            <select class="form-select addcar-select" data-live-search="true" data-width="100%" name="power_window" id="power_window" required>
                                <option value="">Select</option>
                                <option value="Front Window Only" {% if car_detail.air_conditioning == "Front Window Only"  %} selected {% endif %}>Front Window Only</option>
                                <option value="All Four Power Window" {% if car_detail.air_conditioning == "All Four Power Window"  %} selected {% endif %}>All Four Power Window</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="ui_kit_select_search add_new_property mb20">
                        <label class="form-label">Alloy Wheel</label>
                        <div class="dropdown bootstrap-select" style="width: 100%;">
                            <select class="selectpicker" data-live-search="true" data-width="100%" name="alloy_wheel" id="alloy_wheel" required>
                                <option value="">Select</option>
                                {% if car_detail.alloy_wheel %}
                                    <option data-tokens="Yes" selected>Yes</option>
                                    <option data-tokens="No">No</option>
                                {% else %}
                                    <option data-tokens="Yes">Yes</option>
                                    <option data-tokens="No" selected>No</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="ui_kit_select_search add_new_property mb20">
                        <label class="form-label">Sun Roof</label>
                        <div class="dropdown bootstrap-select" style="width: 100%;">
                            <select class="selectpicker" data-live-search="true" data-width="100%" name="sun_roof" id="sun_roof" required>
                                <option value="">Select</option>
                                {% if car_detail.sun_roof %}
                                    <option data-tokens="Yes" selected>Yes</option>
                                    <option data-tokens="No">No</option>
                                {% else %}
                                    <option data-tokens="Yes">Yes</option>
                                    <option data-tokens="No" selected>No</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="new_property_form">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="title mb30">Infotainment Features</h4>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="ui_kit_select_search add_new_property mb20">
                        <label class="form-label">Bluetooth</label>
                        <div class="dropdown bootstrap-select" style="width: 100%;">
                            <select class="selectpicker" data-live-search="true" data-width="100%" name="bluetooth" id="bluetooth" required>
                                <option value="">Select</option>
                                {% if car_detail.bluetooth %}
                                    <option data-tokens="Yes" selected>Yes</option>
                                    <option data-tokens="No">No</option>
                                {% else %}
                                    <option data-tokens="Yes">Yes</option>
                                    <option data-tokens="No" selected>No</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="ui_kit_select_search add_new_property mb20">
                        <label class="form-label">AUX Compatibility</label>
                        <div class="dropdown bootstrap-select" style="width: 100%;">
                            <select class="selectpicker" data-live-search="true" data-width="100%" name="aux_compatibility" id="aux_compatibility" required>
                                <option value="">Select</option>
                                {% if car_detail.aux_compatibility %}
                                    <option data-tokens="Yes" selected>Yes</option>
                                    <option data-tokens="No">No</option>
                                {% else %}
                                    <option data-tokens="Yes">Yes</option>
                                    <option data-tokens="No" selected>No</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="ui_kit_select_search add_new_property mb20">
                        <label class="form-label">AM/FM Radio</label>
                        <div class="dropdown bootstrap-select" style="width: 100%;">
                            <select class="selectpicker" data-live-search="true" data-width="100%" name="am_radio" id="am_radio" required>
                                <option value="">Select</option>
                                {% if car_detail.am_radio %}
                                    <option data-tokens="Yes" selected>Yes</option>
                                    <option data-tokens="No">No</option>
                                {% else %}
                                    <option data-tokens="Yes">Yes</option>
                                    <option data-tokens="No" selected>No</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="ui_kit_select_search add_new_property mb20">
                        <label class="form-label">Android Auto/ Apple Car Play</label>
                        <div class="dropdown bootstrap-select" style="width: 100%;">
                            <select class="selectpicker" data-live-search="true" data-width="100%" name="android_car_play" id="android_car_play" required>
                                <option value="">Select</option>
                                {% if car_detail.android_car_play %}
                                    <option data-tokens="Yes" selected>Yes</option>
                                    <option data-tokens="No">No</option>
                                {% else %}
                                    <option data-tokens="Yes">Yes</option>
                                    <option data-tokens="No" selected>No</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="ui_kit_select_search add_new_property mb20">
                        <label class="form-label">USB Compatibility</label>
                        <div class="dropdown bootstrap-select" style="width: 100%;">
                            <select class="form-select addcar-select" data-live-search="true" data-width="100%" name="usb_compatibility" id="usb_compatibility" required>
                                <option value="">Select</option>
                                <option value="Electrically Adjustable" {% if car_detail.usb_compatibility == "Electrically Adjustable"  %} selected {% endif %}>Electrically Adjustable</option>
                                <option valuevalueAdjustable" {% if car_detail.usb_compatibility == "Manually Adjustable"  %} selected {% endif %}>Manually Adjustable</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="ui_kit_select_search add_new_property mb20">
                        <label class="form-label">Wireless Charger</label>
                        <div class="dropdown bootstrap-select" style="width: 100%;">
                            <select class="selectpicker" data-live-search="true" data-width="100%" name="wireless_charger" id="wireless_charger" required>
                                <option value="">Select</option>
                                {% if car_detail.wireless_charger %}
                                    <option data-tokens="Yes" selected>Yes</option>
                                    <option data-tokens="No">No</option>
                                {% else %}
                                    <option data-tokens="Yes">Yes</option>
                                    <option data-tokens="No" selected>No</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="new_property_form">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="title mb30">Safety Features</h4>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="ui_kit_select_search add_new_property mb20">
                        <label class="form-label">ABS</label>
                        <div class="dropdown bootstrap-select" style="width: 100%;">
                            <select class="selectpicker" data-live-search="true" data-width="100%" name="abs" id="abs" required>
                                <option value="">Select</option>
                                {% if car_detail.abs %}
                                    <option data-tokens="Yes" selected>Yes</option>
                                    <option data-tokens="No">No</option>
                                {% else %}
                                    <option data-tokens="Yes">Yes</option>
                                    <option data-tokens="No" selected>No</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="ui_kit_select_search add_new_property mb20">
                        <label class="form-label">Rear Packing Sensors</label>
                        <div class="dropdown bootstrap-select" style="width: 100%;">
                            <select class="selectpicker" data-live-search="true" data-width="100%" name="rear_parking_sensor" id="rear_parking_sensor" required>
                                <option value="">Select</option>
                                {% if car_detail.rear_parking_sensor %}
                                    <option data-tokens="Yes" selected>Yes</option>
                                    <option data-tokens="No">No</option>
                                {% else %}
                                    <option data-tokens="Yes">Yes</option>
                                    <option data-tokens="No" selected>No</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="ui_kit_select_search add_new_property mb20">
                        <label class="form-label">EBD</label>
                        <div class="dropdown bootstrap-select" style="width: 100%;">
                            <select class="selectpicker" data-live-search="true" data-width="100%" name="ebd" id="ebd" required>
                                <option value="">Select</option>
                                {% if car_detail.ebd %}
                                    <option data-tokens="Yes" selected>Yes</option>
                                    <option data-tokens="No">No</option>
                                {% else %}
                                    <option data-tokens="Yes">Yes</option>
                                    <option data-tokens="No" selected>No</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="ui_kit_select_search add_new_property mb20">
                        <label class="form-label">Lock System</label>
                        <div class="dropdown bootstrap-select" style="width: 100%;">
                            <select class="form-select addcar-select" data-live-search="true" data-width="100%" name="lock_sensor" id="lock_sensor" required>
                                <option value="">Select</option>
                                <option value="Central Locking" {% if car_detail.lock_sensor == "Central Locking" %} selected {% endif %}>Central Locking</option>
                                <option value="Remote Control Central Locking" {% if car_detail.lock_sensor == "Remote Control Central Locking" %} selected {% endif %}>Remote Control Central Locking</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="ui_kit_select_search add_new_property mb20">
                        <label class="form-label">Anti-Theft Device</label>
                        <div class="dropdown bootstrap-select" style="width: 100%;">
                            <select class="selectpicker" data-live-search="true" data-width="100%" name="anti_theft_device" id="anti_theft_device" required>
                                <option value="">Select</option>
                                {% if car_detail.anti_theft_device %}
                                    <option data-tokens="Yes" selected>Yes</option>
                                    <option data-tokens="No">No</option>
                                {% else %}
                                    <option data-tokens="Yes">Yes</option>
                                    <option data-tokens="No" selected>No</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="ui_kit_select_search add_new_property mb20">
                        <label class="form-label">No. Of Air Bags</label>
                        <div class="dropdown bootstrap-select" style="width: 100%;">
                            <select class="form-select addcar-select" data-live-search="true" data-width="100%" name="total_air_bag" id="total_air_bag" required>
                                <option value="">Select</option>
                                <option value=1 {% if car_detail.total_air_bag == 1 %} selected {% endif %}>1 Bags</option>
                                <option value=2 {% if car_detail.total_air_bag == 2 %} selected {% endif %}>2 Bags</option>
                                <option value=4 {% if car_detail.total_air_bag == 4 %} selected {% endif %}>4 Bags</option>
                                <option value=6 {% if car_detail.total_air_bag == 6 %} selected {% endif %}>6 Bags</option>
                                <option value=8 {% if car_detail.total_air_bag == 8 %} selected {% endif %}>8 Bags</option>
                                <option value=10 {% if car_detail.total_air_bag == 10 %} selected {% endif %}>10 Bags</option>
                                <option value=0 {% if car_detail.total_air_bag == 0 %} selected {% endif %}>None</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="ui_kit_select_search add_new_property mb20">
                        <label class="form-label">Rear Packing Camera</label>
                        <div class="dropdown bootstrap-select" style="width: 100%;">
                            <select class="selectpicker" data-live-search="true" data-width="100%" name="rear_parking_camera" id="rear_parking_camera" required>
                                <option value="">Select</option>
                                {% if car_detail.rear_parking_camera %}
                                    <option data-tokens="Yes" selected>Yes</option>
                                    <option data-tokens="No">No</option>
                                {% else %}
                                    <option data-tokens="Yes">Yes</option>    
                                    <option data-tokens="No" selected>No</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="new_property_form">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="title mb30">Vehicle Condition</h4>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="ui_kit_select_search add_new_property mb20">
                        <label class="form-label">Battery Status</label>
                        <div class="dropdown bootstrap-select" style="width: 100%;">
                            <select class="selectpicker" data-live-search="true" data-width="100%" name="battery_status" required>
                                <option value="">Select</option>
                                <option data-tokens="New" {% if car_detail.battery_status == "New" %} selected {% endif %}>New</option>
                                <option data-tokens="Old" {% if car_detail.battery_status == "Old" %} selected {% endif %}>Old</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="ui_kit_select_search add_new_property mb20">
                        <label class="form-label">Vehicle Certification/ Company Warranty(If Any)</label>
                        <div class="dropdown bootstrap-select" style="width: 100%;">
                            <select class="selectpicker" data-live-search="true" data-width="100%" name="vehicle_certificate" id="vehicle_certificate" required>
                                <option value="">Select</option>
                                {% if car_detail.vehicle_certificate %}
                                    <option data-tokens="Yes" selected>Yes</option>
                                    <option data-tokens="No">No</option>
                                {% else %}
                                    <option data-tokens="Yes">Yes</option>
                                    <option data-tokens="No" selected>No</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="mb20">
                        <label class="form-label">If Yes</label>
                        <input name="vehicle_certificate_validity" id="vehicle_certificate_validity" class="form-control form_control" type="date" placeholder="Capacity..." value={{car_detail.vehicle_certificate_validity|date:'Y-m-d'}} required>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="ui_kit_select_search add_new_property mb20">
                        <label class="form-label">Tyre Condition</label>
                        <div class="dropdown bootstrap-select" style="width: 100%;">
                            <select class="selectpicker" data-live-search="true" data-width="100%" name="tyre_condition" id="tyre_condition" required>
                                <option value="">Select</option>
                                <option data-tokens="New" {% if car_detail.tyre_condition == "New" %} selected {% endif %}>New</option>
                                <option data-tokens="Old" {% if car_detail.tyre_condition == "Old" %} selected {% endif %}>Old</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="ui_kit_select_search add_new_property mb20">
                        <label class="form-label">Accidental</label>
                        <div class="dropdown bootstrap-select" style="width: 100%;">
                            <select class="selectpicker" data-live-search="true" data-width="100%" name="accidental" id="accidental" required>
                                <option value="">Select</option>
                                {% if car_detail.accidental %}
                                    <option data-tokens="Yes" selected>Yes</option>
                                    <option data-tokens="No">No</option>
                                {% else %}
                                    <option data-tokens="Yes">Yes</option>
                                    <option data-tokens="No" selected>No</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="new_property_form">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="title mb30">Additional Service</h4>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="ui_kit_select_search add_new_property mb20">
                        <label class="form-label">Finance</label>
                        <div class="dropdown bootstrap-select" style="width: 100%;">
                            <select class="selectpicker" data-live-search="true" data-width="100%" name="finance" id="finance" required>
                                <option value="">Select</option>
                                {% if car_detail.finance %}
                                    <option data-tokens="Yes" selected>Yes</option>
                                    <option data-tokens="No">No</option>
                                {% else %}
                                    <option data-tokens="Yes">Yes</option>
                                    <option data-tokens="No" selected>No</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="ui_kit_select_search add_new_property mb20">
                        <label class="form-label">Extended Warranty</label>
                        <div class="dropdown bootstrap-select" style="width: 100%;">
                            <select class="selectpicker" data-live-search="true" data-width="100%" name="extended_warranty" id="extended_warranty" required>
                                <option value="">Select</option>
                                {% if car_detail.extended_warranty %}
                                    <option data-tokens="Yes" selected>Yes</option>
                                    <option data-tokens="No">No</option>
                                {% else %}
                                    <option data-tokens="Yes">Yes</option>
                                    <option data-tokens="No" selected>No</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="ui_kit_select_search add_new_property mb20">
                        <label class="form-label">Exchange</label>
                        <div class="dropdown bootstrap-select" style="width: 100%;">
                            <select class="selectpicker" data-live-search="true" data-width="100%" name="exchange" id="exchange" required>
                                <option value="">Select</option>
                                {% if car_detail.exchange %}
                                    <option data-tokens="Yes" selected>Yes</option>
                                    <option data-tokens="No">No</option>
                                {% else %}
                                    <option data-tokens="Yes">Yes</option>
                                    <option data-tokens="No" selected>No</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="mb20">
                        <label class="form-label">Description</label>
                        <textarea name="description" id="description" class="form-control" rows="10" placeholder="Description" value="{{car_detail.description}}"></textarea>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="col-lg-12">
        <div class="">
            <div class="row">
                <div class="col-lg-12">
                    <div class="new_propertyform_btn">
                        <button type="submit" class="btn btn-thm ad_flor_btn">Edit Listing</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>


