<!doctype html>
<html lang="en">

{% load static %}

<head>

    <meta charset="utf-8" />
    <title>DreamCarBazaar Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'executive/images/favicon.ico' %}">

    <meta name="robots" content="noindex, nofollow">

    <link href="{% static 'executive/libs/%40fullcalendar/core/main.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'executive/libs/%40fullcalendar/daygrid/main.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'executive/libs/%40fullcalendar/bootstrap/main.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'executive/libs/%40fullcalendar/timegrid/main.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Bootstrap Css -->
    <link href="{% static 'executive/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'executive/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'executive/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />

    {% block common_css %}
    {% endblock %}

</head>

<body data-sidebar="dark" data-layout-mode="light">

    <!-- <body data-layout="horizontal" data-topbar="dark"> -->

    <!-- Begin page -->
    <div id="layout-wrapper">
        <!-- header top -->
        {% include 'Executive/account/top_header.html' %}
        <!-- Side Nav -->
        {% include 'Executive/account/side_navbar.html' %}
    </div>

    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">
                {% block body %}

                {% endblock %}
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
    </div>
    <!-- End Section -->



<!-- JAVASCRIPT -->
    <script src="{% static 'executive/libs/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'executive/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'executive/libs/metismenu/metisMenu.min.js' %}"></script>
    <script src="{% static 'executive/libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'executive/libs/node-waves/waves.min.js' %}"></script>

    <!-- Calendar -->
    <script src="{% static 'executive/libs/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'executive/libs/jquery-ui-dist/jquery-ui.min.js' %}"></script>

    <!-- Calendar init -->
    <script src="{% static 'executive/js/pages/calendars-full.init.js' %}"></script>

    <!-- dashboard init -->
    <script src="{% static 'executive/js/pages/dashboard.init.js' %}"></script>

    <!-- App js -->
    <script src="{% static 'executive/js/app.js' %}"></script>

    {% block js %}

    {% endblock %}
</body>

</html>