<!DOCTYPE html>
<html dir="ltr" lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Title -->
    <title>DreamcarBazaar - Get Your Dream Car</title>

    <meta name="keywords" content="buy old car, sell old car, buy or sell old car in dehradun">
    <meta name="description" content="DreamCarBazaar - Automotive & Car Dealer HTML Template">
    <meta name="robots" content="noindex, nofollow">
    <!-- css file -->
    <link rel="stylesheet" href="{% static  'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Responsive stylesheet -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Favicon -->
    <link href="{% static 'images/favicon.ico' %}" sizes="128x128" rel="shortcut icon" type="image/x-icon" />
    <link href="{% static 'images/favicon.ico' %}" sizes="128x128" rel="shortcut icon" />

    <!-- New Style Css -->
    <link rel="stylesheet" href="{% static 'css/new-style.css' %}">

    {% block common_css %}
    {% endblock %}

</head>

<body>

    {% block body %}

    {% endblock %}

 <script src="{% static 'js/jquery-3.6.0.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-3.0.0.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.mmenu.all.js' %}"></script>
    <script src="{% static 'js/ace-responsive-menu.js' %}"></script>
    <script src="{% static 'js/isotop.js' %}"></script>
    <script src="{% static 'js/snackbar.min.js' %}"></script>
    <script src="{% static 'js/simplebar.js' %}"></script>
    <script src="{% static 'js/parallax.js' %}"></script>
    <script src="{% static 'js/scrollto.js' %}"></script>
    <script src="{% static 'js/jquery-scrolltofixed-min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/progressbar.js' %}"></script>
    <script src="{% static 'js/slider.js' %}"></script>
    <script src="{% static 'js/timepicker.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <!-- Bootstrap Notify -->
    <script src="{% static 'js/bootstrap-notify/bootstrap-notify.min.js' %}"></script>

    {% if messages %}
    {% for message in messages %}
    <script>
        //Notify
     console.log('messages')
     console.log('mes = ', "{{message}}")
    $.notify({
        icon: '{% if message.tags == 'success' %}fas fa-check-circle{% else %}fas fa-times-circle{% endif %}',
        title: '',
        message: '{{message}}',
    },{
        type: '{% if message.tags == 'warning' %}danger{% else %}{{message.tags}}{% endif %}',
        placement: {
            from: "top",
            align: "center"
        },
        time: 1000,
    });
    </script>
    {% endfor %}
    {% endif %}

    {% block js %}

    {% endblock %}
</body>

</html>