{% load static %}
<div class="col-lg-4 col-xl-4">
    <div class="sidebar_seller_contact bgc-f9 p30 mt20">
        <div class="d-flex align-items-center mb30">
            <div class="flex-shrink-0">
                <img class="mr-3 author_img w60" src="{% static 'images/team/seller.png' %}"
                    alt="author.png">
            </div>
            <div class="flex-grow-1 ms-3">
                <h5 class="mt0 mb5 fz16 heading-color fw600">{{car_details.created_by.first_name}}</h5>
                <p class="mb0 tdu"><span class="flaticon-phone-call pr5 vam"></span>(+91) {{car_details.created_by.phone}} 
                </p>
            </div>
        </div>
        <h4 class="mb30">Contact Seller</h4>
        <form method="POST" action="{% url 'dealer:update_lead' car_details.id %}">
            {% csrf_token %}
             <input type="hidden" name="action" value="contact_seller" >
            <div class="row">
                <div class="col-lg-12">
                    <div class="mb-3">
                        <input class="form-control form_control" type="text" placeholder="Name" id="name">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="mb-3">
                        <input class="form-control form_control" type="text" placeholder="Phone" id="phone" required>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="mb-3">
                        <input class="form-control form_control" type="email" placeholder="Email" id="email">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="mb-3">
                        <textarea class="form-control"
                            rows="6">I am interested in a price quote on this vehicle. Please contact me at your earliest convenience with your best price for this vehicle.</textarea>
                    </div>
                    
                    
                   
                        <button type="submit" class="btn btn-block btn-thm mt10 mb20">Send Message</button>
                    
                    <!-- <button type="submit" class="btn btn-block btn-whatsapp mb0"><span class="flaticon-whatsapp mr10 text-white"></span>WhatsApp</button> -->
                </div>
            </div>
        </form>
    </div>
</div>
