<div class="col-lg-12">
                        <div class="user_review_form bdr_none p0">
                            <div class="bsp_reveiw_wrt">
                                <h4 class="mt10">Write a Review</h4>
                                <form class="comments_form">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Your Name">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea class="form-control" rows="9"
                                                    placeholder="Message"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-thm">Send Your Review</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
