{% load static %}
<!-- Our Shopping Product -->
<section class="our-shop pb100 bgc-f9">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="main-title text-center text-md-start mb15-sm">
                    <h2>Top Featured Cars</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="listing_item_4grid_slider nav_none">
                    <div class="item">
                        <div class="car-listing">
                            <div class="thumb">
                                <div class="tag">FEATURED</div>
                                <img src="{% static 'images/listing/1.jpg' %}" alt="1.jpg">
                                <div class="thmb_cntnt2">
                                    <ul class="mb0">
                                        <li class="list-inline-item"><a class="text-white" href="#"><span
                                                    class="flaticon-photo-camera mr3"></span> 22</a></li>
                                        <li class="list-inline-item"><a class="text-white" href="#"><span
                                                    class="flaticon-play-button mr3"></span> 3</a></li>
                                    </ul>
                                </div>
                                <div class="thmb_cntnt3">
                                    <ul class="mb0">
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-shuffle-arrows"></span></a></li>
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-heart"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="details">
                                <div class="wrapper">
                                    <h5 class="price">$129</h5>
                                    <h6 class="title"><a href="page-car-single-v1.html">Volvo XC90 - 2020</a>
                                    </h6>
                                    <div class="listign_review">
                                        <ul class="mb0">
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#">4.7</a></li>
                                            <li class="list-inline-item">(684 reviews)</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="listing_footer">
                                    <ul class="mb0">
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-road-perspective me-2"></span>77362</a></li>
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-gas-station me-2"></span>Diesel</a></li>
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-gear me-2"></span>Automatic</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="car-listing">
                            <div class="thumb">
                                <div class="tag">FEATURED</div>
                                <img src="{% static 'images/listing/2.jpg' %}" alt="2.jpg">
                                <div class="thmb_cntnt2">
                                    <ul class="mb0">
                                        <li class="list-inline-item"><a class="text-white" href="#"><span
                                                    class="flaticon-photo-camera mr3"></span> 22</a></li>
                                        <li class="list-inline-item"><a class="text-white" href="#"><span
                                                    class="flaticon-play-button mr3"></span> 3</a></li>
                                    </ul>
                                </div>
                                <div class="thmb_cntnt3">
                                    <ul class="mb0">
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-shuffle-arrows"></span></a></li>
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-heart"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="details">
                                <div class="wrapper">
                                    <h5 class="price">$56</h5>
                                    <h6 class="title"><a href="page-car-single-v1.html">Mercedes-Benz S 560 -
                                            2021</a></h6>
                                    <div class="listign_review">
                                        <ul class="mb0">
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#">4.7</a></li>
                                            <li class="list-inline-item">(684 reviews)</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="listing_footer">
                                    <ul class="mb0">
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-road-perspective me-2"></span>77362</a></li>
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-gas-station me-2"></span>Diesel</a></li>
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-gear me-2"></span>Automatic</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="car-listing">
                            <div class="thumb">
                                <div class="tag">FEATURED</div>
                                <img src="{% static 'images/listing/3.jpg' %}" alt="3.jpg">
                                <div class="thmb_cntnt2">
                                    <ul class="mb0">
                                        <li class="list-inline-item"><a class="text-white" href="#"><span
                                                    class="flaticon-photo-camera mr3"></span> 22</a></li>
                                        <li class="list-inline-item"><a class="text-white" href="#"><span
                                                    class="flaticon-play-button mr3"></span> 3</a></li>
                                    </ul>
                                </div>
                                <div class="thmb_cntnt3">
                                    <ul class="mb0">
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-shuffle-arrows"></span></a></li>
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-heart"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="details">
                                <div class="wrapper">
                                    <h5 class="price">$230</h5>
                                    <h6 class="title"><a href="page-car-single-v1.html">BMW M8 Gran Coupe Base -
                                            2021</a></h6>
                                    <div class="listign_review">
                                        <ul class="mb0">
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#">4.7</a></li>
                                            <li class="list-inline-item">(684 reviews)</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="listing_footer">
                                    <ul class="mb0">
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-road-perspective me-2"></span>77362</a></li>
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-gas-station me-2"></span>Diesel</a></li>
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-gear me-2"></span>Automatic</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="car-listing">
                            <div class="thumb">
                                <div class="tag blue">SPECIAL</div>
                                <img src="{% static 'images/listing/4.jpg' %}" alt="4.jpg">
                                <div class="thmb_cntnt2">
                                    <ul class="mb0">
                                        <li class="list-inline-item"><a class="text-white" href="#"><span
                                                    class="flaticon-photo-camera mr3"></span> 22</a></li>
                                        <li class="list-inline-item"><a class="text-white" href="#"><span
                                                    class="flaticon-play-button mr3"></span> 3</a></li>
                                    </ul>
                                </div>
                                <div class="thmb_cntnt3">
                                    <ul class="mb0">
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-shuffle-arrows"></span></a></li>
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-heart"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="details">
                                <div class="wrapper">
                                    <h5 class="price">$478</h5>
                                    <h6 class="title"><a href="page-car-single-v1.html">Nıssan Qasqai - Sky
                                            Pack</a></h6>
                                    <div class="listign_review">
                                        <ul class="mb0">
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#">4.7</a></li>
                                            <li class="list-inline-item">(684 reviews)</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="listing_footer">
                                    <ul class="mb0">
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-road-perspective me-2"></span>77362</a></li>
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-gas-station me-2"></span>Diesel</a></li>
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-gear me-2"></span>Automatic</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="car-listing">
                            <div class="thumb">
                                <div class="tag">FEATURED</div>
                                <img src="{% static 'images/listing/1.jpg' %}" alt="1.jpg">
                                <div class="thmb_cntnt2">
                                    <ul class="mb0">
                                        <li class="list-inline-item"><a class="text-white" href="#"><span
                                                    class="flaticon-photo-camera mr3"></span> 22</a></li>
                                        <li class="list-inline-item"><a class="text-white" href="#"><span
                                                    class="flaticon-play-button mr3"></span> 3</a></li>
                                    </ul>
                                </div>
                                <div class="thmb_cntnt3">
                                    <ul class="mb0">
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-shuffle-arrows"></span></a></li>
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-heart"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="details">
                                <div class="wrapper">
                                    <h5 class="price">$129</h5>
                                    <h6 class="title"><a href="page-car-single-v1.html">Volvo XC90 - 2020</a>
                                    </h6>
                                    <div class="listign_review">
                                        <ul class="mb0">
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#">4.7</a></li>
                                            <li class="list-inline-item">(684 reviews)</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="listing_footer">
                                    <ul class="mb0">
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-road-perspective me-2"></span>77362</a></li>
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-gas-station me-2"></span>Diesel</a></li>
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-gear me-2"></span>Automatic</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="car-listing">
                            <div class="thumb">
                                <div class="tag">FEATURED</div>
                                <img src="{% static 'images/listing/2.jpg' %}" alt="2.jpg">
                                <div class="thmb_cntnt2">
                                    <ul class="mb0">
                                        <li class="list-inline-item"><a class="text-white" href="#"><span
                                                    class="flaticon-photo-camera mr3"></span> 22</a></li>
                                        <li class="list-inline-item"><a class="text-white" href="#"><span
                                                    class="flaticon-play-button mr3"></span> 3</a></li>
                                    </ul>
                                </div>
                                <div class="thmb_cntnt3">
                                    <ul class="mb0">
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-shuffle-arrows"></span></a></li>
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-heart"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="details">
                                <div class="wrapper">
                                    <h5 class="price">$56</h5>
                                    <h6 class="title"><a href="page-car-single-v1.html">Mercedes-Benz S 560 -
                                            2021</a></h6>
                                    <div class="listign_review">
                                        <ul class="mb0">
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#">4.7</a></li>
                                            <li class="list-inline-item">(684 reviews)</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="listing_footer">
                                    <ul class="mb0">
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-road-perspective me-2"></span>77362</a></li>
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-gas-station me-2"></span>Diesel</a></li>
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-gear me-2"></span>Automatic</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="car-listing">
                            <div class="thumb">
                                <div class="tag">FEATURED</div>
                                <img src="{% static 'images/listing/3.jpg' %}" alt="3.jpg">
                                <div class="thmb_cntnt2">
                                    <ul class="mb0">
                                        <li class="list-inline-item"><a class="text-white" href="#"><span
                                                    class="flaticon-photo-camera mr3"></span> 22</a></li>
                                        <li class="list-inline-item"><a class="text-white" href="#"><span
                                                    class="flaticon-play-button mr3"></span> 3</a></li>
                                    </ul>
                                </div>
                                <div class="thmb_cntnt3">
                                    <ul class="mb0">
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-shuffle-arrows"></span></a></li>
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-heart"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="details">
                                <div class="wrapper">
                                    <h5 class="price">$230</h5>
                                    <h6 class="title"><a href="page-car-single-v1.html">BMW M8 Gran Coupe Base -
                                            2021</a></h6>
                                    <div class="listign_review">
                                        <ul class="mb0">
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#">4.7</a></li>
                                            <li class="list-inline-item">(684 reviews)</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="listing_footer">
                                    <ul class="mb0">
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-road-perspective me-2"></span>77362</a></li>
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-gas-station me-2"></span>Diesel</a></li>
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-gear me-2"></span>Automatic</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="car-listing">
                            <div class="thumb">
                                <div class="tag blue">SPECIAL</div>
                                <img src="{% static 'images/listing/4.jpg' %}" alt="4.jpg">
                                <div class="thmb_cntnt2">
                                    <ul class="mb0">
                                        <li class="list-inline-item"><a class="text-white" href="#"><span
                                                    class="flaticon-photo-camera mr3"></span> 22</a></li>
                                        <li class="list-inline-item"><a class="text-white" href="#"><span
                                                    class="flaticon-play-button mr3"></span> 3</a></li>
                                    </ul>
                                </div>
                                <div class="thmb_cntnt3">
                                    <ul class="mb0">
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-shuffle-arrows"></span></a></li>
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-heart"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="details">
                                <div class="wrapper">
                                    <h5 class="price">$478</h5>
                                    <h6 class="title"><a href="page-car-single-v1.html">Nıssan Qasqai - Sky
                                            Pack</a></h6>
                                    <div class="listign_review">
                                        <ul class="mb0">
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#">4.7</a></li>
                                            <li class="list-inline-item">(684 reviews)</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="listing_footer">
                                    <ul class="mb0">
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-road-perspective me-2"></span>77362</a></li>
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-gas-station me-2"></span>Diesel</a></li>
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-gear me-2"></span>Automatic</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="car-listing">
                            <div class="thumb">
                                <div class="tag">FEATURED</div>
                                <img src="{% static 'images/listing/1.jpg' %}" alt="1.jpg">
                                <div class="thmb_cntnt2">
                                    <ul class="mb0">
                                        <li class="list-inline-item"><a class="text-white" href="#"><span
                                                    class="flaticon-photo-camera mr3"></span> 22</a></li>
                                        <li class="list-inline-item"><a class="text-white" href="#"><span
                                                    class="flaticon-play-button mr3"></span> 3</a></li>
                                    </ul>
                                </div>
                                <div class="thmb_cntnt3">
                                    <ul class="mb0">
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-shuffle-arrows"></span></a></li>
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-heart"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="details">
                                <div class="wrapper">
                                    <h5 class="price">$129</h5>
                                    <h6 class="title"><a href="page-car-single-v1.html">Volvo XC90 - 2020</a>
                                    </h6>
                                    <div class="listign_review">
                                        <ul class="mb0">
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#">4.7</a></li>
                                            <li class="list-inline-item">(684 reviews)</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="listing_footer">
                                    <ul class="mb0">
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-road-perspective me-2"></span>77362</a></li>
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-gas-station me-2"></span>Diesel</a></li>
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-gear me-2"></span>Automatic</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="car-listing">
                            <div class="thumb">
                                <div class="tag">FEATURED</div>
                                <img src="{% static 'images/listing/2.jpg' %}" alt="2.jpg">
                                <div class="thmb_cntnt2">
                                    <ul class="mb0">
                                        <li class="list-inline-item"><a class="text-white" href="#"><span
                                                    class="flaticon-photo-camera mr3"></span> 22</a></li>
                                        <li class="list-inline-item"><a class="text-white" href="#"><span
                                                    class="flaticon-play-button mr3"></span> 3</a></li>
                                    </ul>
                                </div>
                                <div class="thmb_cntnt3">
                                    <ul class="mb0">
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-shuffle-arrows"></span></a></li>
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-heart"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="details">
                                <div class="wrapper">
                                    <h5 class="price">$56</h5>
                                    <h6 class="title"><a href="page-car-single-v1.html">Mercedes-Benz S 560 -
                                            2021</a></h6>
                                    <div class="listign_review">
                                        <ul class="mb0">
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#">4.7</a></li>
                                            <li class="list-inline-item">(684 reviews)</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="listing_footer">
                                    <ul class="mb0">
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-road-perspective me-2"></span>77362</a></li>
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-gas-station me-2"></span>Diesel</a></li>
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-gear me-2"></span>Automatic</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="car-listing">
                            <div class="thumb">
                                <div class="tag">FEATURED</div>
                                <img src="{% static 'images/listing/3.jpg' %}" alt="3.jpg">
                                <div class="thmb_cntnt2">
                                    <ul class="mb0">
                                        <li class="list-inline-item"><a class="text-white" href="#"><span
                                                    class="flaticon-photo-camera mr3"></span> 22</a></li>
                                        <li class="list-inline-item"><a class="text-white" href="#"><span
                                                    class="flaticon-play-button mr3"></span> 3</a></li>
                                    </ul>
                                </div>
                                <div class="thmb_cntnt3">
                                    <ul class="mb0">
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-shuffle-arrows"></span></a></li>
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-heart"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="details">
                                <div class="wrapper">
                                    <h5 class="price">$230</h5>
                                    <h6 class="title"><a href="page-car-single-v1.html">BMW M8 Gran Coupe Base -
                                            2021</a></h6>
                                    <div class="listign_review">
                                        <ul class="mb0">
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#">4.7</a></li>
                                            <li class="list-inline-item">(684 reviews)</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="listing_footer">
                                    <ul class="mb0">
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-road-perspective me-2"></span>77362</a></li>
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-gas-station me-2"></span>Diesel</a></li>
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-gear me-2"></span>Automatic</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="car-listing">
                            <div class="thumb">
                                <div class="tag blue">SPECIAL</div>
                                <img src="{% static 'images/listing/4.jpg' %}" alt="4.jpg">
                                <div class="thmb_cntnt2">
                                    <ul class="mb0">
                                        <li class="list-inline-item"><a class="text-white" href="#"><span
                                                    class="flaticon-photo-camera mr3"></span> 22</a></li>
                                        <li class="list-inline-item"><a class="text-white" href="#"><span
                                                    class="flaticon-play-button mr3"></span> 3</a></li>
                                    </ul>
                                </div>
                                <div class="thmb_cntnt3">
                                    <ul class="mb0">
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-shuffle-arrows"></span></a></li>
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-heart"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="details">
                                <div class="wrapper">
                                    <h5 class="price">$478</h5>
                                    <h6 class="title"><a href="page-car-single-v1.html">Nıssan Qasqai - Sky
                                            Pack</a></h6>
                                    <div class="listign_review">
                                        <ul class="mb0">
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="#">4.7</a></li>
                                            <li class="list-inline-item">(684 reviews)</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="listing_footer">
                                    <ul class="mb0">
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-road-perspective me-2"></span>77362</a></li>
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-gas-station me-2"></span>Diesel</a></li>
                                        <li class="list-inline-item"><a href="#"><span
                                                    class="flaticon-gear me-2"></span>Automatic</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
