{% load static %}
<div class="sidebar_feature_listing_widget">
    <h4 class="title">Featured Listings</h4>
    <div class="listing_item_1grid_slider nav_none">
        <div class="item">
            <div class="car-listing sidebar_style">
                <div class="thumb">
                    <img src="{% static 'images/listing/16.jpg' %}" alt="16.jpg">
                </div>
                <div class="details">
                    <div class="wrapper">
                        <h5 class="price">$129</h5>
                        <h6 class="title"><a href="page-car-single-v1.html">Mercedes-Benz S 560
                                - 2021</a></h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="car-listing sidebar_style">
                <div class="thumb">
                    <img src="{% static 'images/listing/16.jpg' %}" alt="16.jpg">
                </div>
                <div class="details">
                    <div class="wrapper">
                        <h5 class="price">$129</h5>
                        <h6 class="title"><a href="page-car-single-v1.html">Mercedes-Benz S 560
                                - 2021</a></h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="car-listing sidebar_style">
                <div class="thumb">
                    <img src="{% static 'images/listing/16.jpg' %}" alt="16.jpg">
                </div>
                <div class="details">
                    <div class="wrapper">
                        <h5 class="price">$129</h5>
                        <h6 class="title"><a href="page-car-single-v1.html">Mercedes-Benz S 560
                                - 2021</a></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>