<div class="header_top home3_style dashbord_style dn-992">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-xl-7">
                <div class="header_top_contact_opening_widget text-center text-md-start">
                    <ul class="mb0">
                        <li class="list-inline-item"><a href="#"><span class="flaticon-phone-call"></span>1-800-458-56987</a></li>
                        <li class="list-inline-item"><a href="#"><span class="flaticon-map"></span>47 Bakery Street, London, UK</a></li>
                        <li class="list-inline-item"><a href="#"><span class="flaticon-clock"></span>Mon - Fri 8:00 - 18:00</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-xl-5">
                <div class="header_top_social_widgets text-center text-md-end">
                    <ul class="m0">
                        <li class="list-inline-item"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                        <li class="list-inline-item"><a href="#"><span class="fab fa-twitter"></span></a></li>
                        <li class="list-inline-item"><a href="#"><span class="fab fa-instagram"></span></a></li>
                        <li class="list-inline-item"><a href="#"><span class="fab fa-linkedin"></span></a></li>
                        <li class="list-inline-item"><a href="#" data-bs-toggle="modal" data-bs-target="#logInModal">Login</a></li>
                        <li class="list-inline-item"><a href="#" data-bs-toggle="modal" data-bs-target="#logInModal">Register</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
