{% extends 'Website/layout.html' %}
{% load static %}
{% load user_tags %}

{% block body %}
<div class="wrapper ovh">

    {% include 'Website/top_header.html' %}
    {% include 'Website/top_navbar.html' %}

    <section class="our-terms pb90 inner_page_section_spacing">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-xl-12">
					<div class="terms_condition_grid pt60">
						<div class="grids mb60">
							<h4 class="title">Privacy Policy</h4>
    				    	<p class="mb25">This privacy policy ("Policy") explains our policy regarding the collection, use, disclosure and transfer of your information by Dreamcarbazaar ("Company" "we" "us" or "our"), which operates the website https://dreamcarbazaar.com/. This Policy forms part and parcel of the Terms of Use. You are requested to read this Policy carefully.</p>
    			            <p class="mb0">The Company firmly believes in the highest standards of integrity in relation to the information provided by its customers/users (you or yours or user ) at the time of interaction with the Company website.</p>
						    <p>At Dreamcarbazaar, we are extremely proud of our commitment to protect your privacy and the personal information you disclose on the Site. We value your trust in us. We will work hard to earn your confidence so that you can enthusiastically use our services and recommend us to friends and family. Please read the following policy to understand how your personal information will be treated as you make full use of our Site.</p>
						</div>
						<div class="grids mb30">
							<h4 class="title">Our Terms</h4>
				    	    <p class="mb25">To avail certain Services on the Website, you will be required to provide certain personal information for the registration process which may include: a) their name, b) email address, c) phone number d) your email (f) other personal details and any other such information as required. The Information as supplied by you enables us to provide the Services and improve the Website Services and provide you the most user-friendly experience.</p>
                            <p class="mb25">In an attempt to improve our Services, we may, from time to time, collect any information (other than what is mentioned above) from you through the Website. You may be assured that we do not share this data with any third party.</p>
                        </div>
                        <div class="grids mb30">
							<h4 class="title">How your information help us to improve our website for your better experience</h4>
				    	    <p class="mb25">The information provided by you is used by the Company to enhance the functionality and improve the quality of your interaction with the Website and to personalize your experience while using our services.</p>
                            <p class="mb25">As part of our services, you may provide your reviews, feedback, comments, ratings, photos, etc. on the public groups (“Post(s)”). The Company retains an unconditional right to remove and delete any Post or such part of the Post that, in the opinion of the Company, is false, malafide and misrepresenting. All Posts shall be publicly accessible and visible to all users and therefore, you should be careful about revealing any sensitive details about yourself in such Posts.</p>
                            <p class="mb25">Dreamcarbazaar  may also aggregate (gather up data across all user accounts) personally identifiable information and disclose such information in a non-personally identifiable manner to advertisers and other third parties for other marketing and promotional purposes.</p>
                            <p class="mb25">When a user expresses interest against a new vehicle offered for sale by a dealer, manufacturer or other party, the dealer, manufacturer or other party will be provided with the user's contact information as provided in the registration form.</p>
                            <p class="mb25">There are certain automobiles and services for which third parties request for information before the service is listed on the Site (example: application for vehicle loan). The information provided by the user for such purposes is simultaneously collected by Dreamcarbazaar and the respective third party .</p>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</section>

    {% include 'Website/footer.html' %}

</div>
<!-- Wrapper End -->
{% endblock %}

{% block js %}


{% endblock %}