{% extends 'Website/layout.html' %}
{% load static %}

{% block common_css %}

<link rel="stylesheet" href="{% static 'css/customer-dash.css' %}">

{% endblock %}

{% block body %}


<div class="wrapper">

    <!-- header top -->
    {% include 'Website/top_header.html' %}
    <!-- Main Header Nav -->
    {% include 'Website/top_navbar.html' %}

    <!-- ........................................Edit Form------------------------------------ -->
    {% include 'Website/edit_profile_modal.html' %}
    <!-- .........................................End Section....................... -->

    <!-- Profile card -->
    <section class="profile-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4">
                   {% include 'Website/side_navbar.html' %}
                </div>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="">
                                <h2 style="font-size: 22px;">Profile Setting</h2>
                            </div>
                        </div>
                        <div class="col-lg-6 text-end">
                            <div class="dropdown ">
                                <button href="#" data-bs-toggle="modal" data-bs-target="#editName" class="btn btn-light "><i class="fa fa-edit "></i> <span class="d-none d-sm-inline-block ">Edit</span></button>
                            </div>
                        </div>
                    </div>
                    <div class="card profile-card mt-5">
                        <div class="card-body profile-card-body ">
                            <div class="d-flex align-items-start ">
                                <div class="flex-grow-1 align-self-center ">
                                    <div class="text-dark ">
                                        <h5 class="profile-data-para mb-1 "><i class="fa fa-user mr-2 p-2"></i>{{user.first_name}}</h5>
                                        <!-- <h5 class="profile-data-para mb-1 "><i class="fa fa-building mr-2 p-2"></i>Phone Number</h5> -->
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="card profile-card mt-3">
                        <div class="card-body profile-card-body ">
                            <div class="d-flex align-items-start ">
                                <div class="flex-grow-1 align-self-center ">
                                    <div class="text-dark ">
                                        <h5 class="profile-data-para mb-1 "><i class="fa fa-user mr-2 p-2"></i>{{user.email}}</h5>
                                        <h5 class="profile-data-para mb-1 "><i class="fa fa-building mr-2 p-2"></i>{{user.phone}}</h5>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="card profile-card mt-3">
                        <div class="card-body profile-card-body ">
                            <div class="d-flex align-items-start ">
                                <div class="flex-grow-1 align-self-center ">
                                    <div class="text-dark ">
                                        <h5 class="profile-data-para mb-1 "><i class="fa fa-user mr-2 p-2"></i>{{user.address}}</h5>
                                        <!-- <h5 class="profile-data-para mb-1 "><i class="fa fa-building mr-2 p-2"></i>Phone Number</h5> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card profile-card mt-3">
                        <div class="card-body profile-card-body ">
                            <div class="d-flex align-items-start ">
                                <div class="flex-grow-1 align-self-center ">
                                    <div class="text-dark ">
                                        <h5 class="profile-data-para mb-1"><i class="fa fa-user mr-2 p-2"></i>Password</h5>
                                        <!-- <h5 class="profile-data-para mb-1 "><i class="fa fa-building mr-2 p-2"></i>Phone Number</h5> -->
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <a class="scrollToHome" href="#"><i class="fas fa-arrow-up"></i></a>
</div>
<!-- Wrapper End -->
{% endblock %}

{% block js %}

{% endblock %}