<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">

                <li class="">
                    <a href="#">
                        <i class="bx bx-home-circle"></i>
                        <span key="t-dashboards">Dashboards</span>
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        <i class="fa fa-shopping-cart"></i>
                        <span key="t-dashboards">All Orders</span>
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'executive:pending_car_approval' %}">
                        <i class="bx bx-home-circle"></i>
                        <span key="t-dashboards">Pending Approval</span>
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        <i class="bx bx-home-circle"></i>
                        <span key="t-dashboards">DCB Access</span>
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        <i class="bx bx-home-circle"></i>
                        <span key="t-dashboards">Sales</span>
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        <i class="bx bx-home-circle"></i>
                        <span key="t-dashboards">Our Packages</span>
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        <i class="bx bx-home-circle"></i>
                        <span key="t-dashboards">Support</span>
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        <i class="bx bx-home-circle"></i>
                        <span key="t-dashboards">Feedback</span>
                    </a>
                </li>

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->