{% load static %}
<!-- Our Footer -->
    <section class="footer_one home6_style pt40 pb25">
        <div class="container pt80 pt20-sm pb50 pb0-sm">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-xl-3">
                    <div class="footer_about_widget text-start">
                        <div class="logo mb10 mb0-sm"><img src="{% static 'images/dcb-images/dcb-logo.png' %}" alt="header-logo.png" width="120px"></div>
                    </div>
                    <div class="footer-left-para">
                        <p class="text-white" style="font-size: 12px">Our stress-free finance department that can find financial solutions to save you money.Our stress-free finance department that can find financial solutions to save you money.</p>
                        <a class="text-white" href="mailto: support@dreamcarbazaar.com" style="font-size: 12px; line-height: 30px"><i class="fa fa-envelope" style="margin-right: 5px"></i>support@dreamcarbazaar.com</a><br>
                        <a class="text-white" href="tel: +919758266819" style="font-size: 12px; margin-top: 15px; line-height: 30px"><i class="fa fa-phone" style="margin-right: 5px"></i>+919758266819</a><br>
                        <a class="text-white" href="https://maps.app.goo.gl/ZoQYWCMN8rX58f8r8" style="font-size: 12px; margin-top: 15px; line-height: 30px"><i class="fa fa-map-marker" style="margin-right: 5px"></i>Rajpur Road, Dehradun, 248001</a><br>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4 col-xl-2">
                    <div class="footer_about_widget">
                        <h5 class="title">Quick Links</h5>
                        <div class="footer_menu_widget mt15">
                            <ul>
                                <li class="list-inline-item d-lg-flex"><a href="/">Home</a></li>
                                <li class="list-inline-item d-lg-flex"><a href="https://www.dreamcarbazaar.com/about/">About Us</a></li>
                                <li class="list-inline-item d-lg-flex"><a href="https://www.dreamcarbazaar.com/insurance/">Insurance</a></li>
                                <li class="list-inline-item d-lg-flex"><a href="https://www.dreamcarbazaar.com/blogs/">Blog</a></li>
                                <li class="list-inline-item d-lg-flex"><a href="https://www.dreamcarbazaar.com/terms-and-conditions/">Our Terms</a></li>
                                <li class="list-inline-item d-lg-flex"><a href="https://www.dreamcarbazaar.com/privacy-policy/">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-xl-3">
                    <div class="footer_contact_widget">
                        <h5 class="title">Brands</h5>
                        <div class="footer_menu_widget mt15">
                            <ul>
                                <li class="list-inline-item d-lg-flex footer-list-a"><a href="#">BMW </a>| <a href="#">Marcedes</a> | <a href="#">Volvo</a></li>
                                <li class="list-inline-item d-lg-flex footer-list-a"><a href="#">Maruti Suzuki</a> | <a href="#">Hyundai</a></li>
                                <li class="list-inline-item d-lg-flex footer-list-a"><a href="#">Tata </a>| <a href="#">Mahindra</a> | <a href="#">MG</a></li>
                                <li class="list-inline-item d-lg-flex footer-list-a"><a href="#">Kia</a>| <a href="#">Toyota</a>| <a href="#">Jeep</a></li>
                                <li class="list-inline-item d-lg-flex footer-list-a"><a href="#">Honda</a>| <a href="#">Ford</a>| <a href="#">Audi</a></li>
                                <li class="list-inline-item d-lg-flex footer-list-a"><a href="#">Volkswagen</a>| <a href="#">Renault</a> | <a href="#">Jaguar</a></li>
                                <li class="list-inline-item d-lg-flex footer-list-a"><a href="#">Skoda</a>| <a href="#">Nissan</a></li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-xl-2">
                    <div class="footer_contact_widget">
                        <h5 class="title">Category</h5>
                        <div class="footer_menu_widget mt15">
                            <ul>
                                <li class="list-inline-item d-lg-flex footer-list-a"><a href="#">Compact</a></li>
                                <li class="list-inline-item d-lg-flex footer-list-a"><a href="#">Sedan</a></li>
                                <li class="list-inline-item d-lg-flex footer-list-a"><a href="#">Insurance</a></li>
                                <li class="list-inline-item d-lg-flex footer-list-a"><a href="#">SUV</a></li>
                                <li class="list-inline-item d-lg-flex footer-list-a"><a href="#">Convertible</a></li>
                                <li class="list-inline-item d-lg-flex footer-list-a"><a href="#">Coupe</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-xl-2">
                    <div class="footer_contact_widget">
                        <h5 class="title">City</h5>
                        <div class="footer_menu_widget mt15">
                            <ul>
                                <li class="list-inline-item d-lg-flex footer-list-a"><a href="#">Dehradun</a></li>
                                <li class="list-inline-item d-lg-flex footer-list-a"><a href="#">Delhi</a></li>
                                <li class="list-inline-item d-lg-flex footer-list-a"><a href="#">Haridwar</a></li>
                                <li class="list-inline-item d-lg-flex footer-list-a"><a href="#">Noida</a></li>
                                <li class="list-inline-item d-lg-flex footer-list-a"><a href="#">Mussoorie</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container pt-30 copyright-container">
            <div class="row">
                <div class="col-md-6 col-lg-8 col-xl-9">
                    <div class="copyright-widget mt5 text-start mb20-sm">
                        <p>DreamCarBazaar © 2023. All Rights Reserved to Dreamporium Pvt Ltd</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="footer_social_widget text-start text-md-end">
                        <ul class="mb0">
                            <!--<li class="list-inline-item"><a href="https://www.facebook.com/profile.php?id=61555647420720&mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a></li>-->
                            <!--<li class="list-inline-item"><a href="https://twitter.com/Dreamcarbazaar2"><i class="fab fa-twitter"></i></a></li>-->
                            <!--<li class="list-inline-item"><a href="https://www.instagram.com/dreamporium_pvt_ltd/"><i class="fab fa-instagram"></i></a></li>-->
                            <!--<li class="list-inline-item"><a href="https://www.linkedin.com/company/dream-car-bazaar/"><i class="fab fa-linkedin"></i></a></li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section -->
    <a class="scrollToHome" href="#"><i class="fas fa-arrow-up"></i></a>
    
     <!-- =============================================================Fixed Mobile Footer================================================ -->
        <section class="fixed-footer-section-mobile" id="fixed-footer">
            
        </section>