{% extends 'Website/layout.html' %}
{% load static %}
{% load user_tags %}

{% block body %}
<div class="wrapper ovh">

    {% include 'Website/top_header.html' %}
    {% include 'Website/top_navbar.html' %}

    <section class="our-terms pb90 inner_page_section_spacing">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-xl-12">
					<div class="terms_condition_grid pt60">
						<div class="grids mb60">
							<h4 class="title">Terms and Conditions</h4>
    				    	<p class="mb25">Please read these Terms and Conditions ("Terms") carefully before using the DreamCarBazaar website (the "Service") operated by DreamCarBazaar, Inc. ("us," "we," or "our"). Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms.</p>
    			        </div>
						<div class="grids mb30">
							<h4 class="title">1. Acceptance of Terms</h4>
				    	    <p class="mb25">By using the Service, you agree to be bound by these Terms and all applicable laws and regulations. If you do not agree to these Terms, please refrain from using the Service.</p>
                        </div>
                        
                        <div class="grids mb30">
							<h4 class="title">2. Changes to Terms</h4>
				    	    <p class="mb25">We reserve the right to revise these Terms at any time without prior notice. Any changes will be effective immediately upon posting on the Service. Your continued use of the Service after the posting of changes constitutes your acceptance of those changes.</p>
                        </div>
                        
                        <div class="grids mb30">
							<h4 class="title">3. Privacy Policy</h4>
				    	    <p class="mb25">Your use of the Service is also governed by our Privacy Policy, which can be found at <a href="https://dreamcarbazaar.com/privacy-policy/">https://dreamcarbazaar.com/privacy-policy/</a>. By using the Service, you consent to the collection and use of information as described in the Privacy Policy.</p>
                        </div>
                        
                        <div class="grids mb30">
							<h4 class="title">4. Use of the Service</h4>
				    	    <p class="mb25"><b>A.</b> You must be at least 18 years old to use the Service.</p>
				    	    <p class="mb25"><b>B.</b> You agree to provide accurate, current, and complete information when using the Service, and you are responsible for maintaining the confidentiality of your account and password.</p>
				    	    <p class="mb25"><b>C.</b> You may not use the Service for any illegal or unauthorized purpose.</p>
				    	    <p class="mb25"><b>D.</b>You may not access or use the Service in a way that could damage, disable, overburden, or impair our servers or networks.</p>
				    	    <p class="mb25"><b>E.</b> You may not attempt to gain unauthorized access to any part of the Service or any user accounts.</p>
                        </div>
                        
                        <div class="grids mb30">
							<h4 class="title">5. Third-Party Links</h4>
				    	    <p class="mb25">The Service may contain links to third-party websites or services that are not owned or controlled by DreamCarBazaar. We have no control over and assume no responsibility for the content, privacy policies, or practices of any third-party websites or services. Your use of third-party websites and services is at your own risk.</p>
                        </div>
                        
                        <div class="grids mb30">
							<h4 class="title">6. Disclaimer of Warranties</h4>
				    	    <p class="mb25">The Service is provided "as is" and "as available" without any warranties, express or implied, including, but not limited to, the implied warranties of merchantability and fitness for a particular purpose.</p>
                        </div>
                        
                        
                        <div class="grids mb60">
							<h3 class="title">7. Refund Policy</h3>
    				    	<p class="mb25"><b>A.</b> All sales at DreamCarBazaar.com are final. We do not offer refunds for any services purchased through our website, including but not limited to vehicles, accessories, and memberships.</p>
                            <p class="mb25"><b>B.</b> In the event of a billing error or unauthorized transaction, please contact our customer support team immediately for assistance. We will investigate the issue promptly and take appropriate action to resolve it.</p>
    			        </div>
    			        
    			        <div class="grids mb60">
							<h3 class="title">8. Return Policy</h3>
    				    	<p class="mb25"><b>A.</b> We do not accept returns for any services. </p>
                            <p class="mb25"><b>B.</b> If you receive any service that not satisfactory or irrelevant or non-authorised or not purchased then kindly notify us within 3-5 working days of activation of order.</p>
                            <p class="mb25"><b>C.</b> We may request photographic evidence (payment proof, payment failed screenshot etc.) or other documentation to process your claim.</p>
                            <p class="mb25"><b>D.</b>  DreamCarBazaar.com reserves the right to refuse returns or exchanges that do not meet our criteria or are not reported within the specified timeframe.</p>
    			        </div>
    			        
    			        <div class="grids mb30">
							<h4 class="title">9. Contact Information</h4>
				    	    <p class="mb25">If you have any questions about these Terms, please contact us at <a href="mailto:support@dreamcarbazaar.com">support@dreamcarbazaar.com</a>. By using the DreamCarBazaar Service, you acknowledge that you have read and understood these Terms and agree to be bound by them.</p>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</section>

    {% include 'Website/footer.html' %}

</div>
<!-- Wrapper End -->
{% endblock %}

{% block js %}


{% endblock %}