{% load static %}
<div class="row popular-listing-listing">
    <div class="col-lg-12">
        <div class="home1_popular_listing home4_style">
            <div class="listing_item_car_grid_slider ">
                <div class="item">
                    <div class="carlisting-popular-vehicles">
                        <div class="details text-center">
                            <div class="wrapper">
                                <h5 class="price text-thm4">$56</h5>
                                <h6 class="title"><a
                                        href="page-car-single-v1.html">Mercedes-Benz S 560 -
                                        2021</a></h6>
                            </div>
                        </div>
                        <div class="thumb">
                            <img class="img-fluid" src="{% static 'images/item/1.png' %}" alt="1.png">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carlisting-popular-vehicles">
                        <div class="details text-center">
                            <div class="wrapper">
                                <h5 class="price text-thm4">$129</h5>
                                <h6 class="title"><a href="page-car-single-v1.html">Volvo XC90 -
                                        2020</a></h6>
                            </div>
                        </div>
                        <div class="thumb">
                            <img class="img-fluid" src="{% static 'images/item/2.png' %}" alt="2.png">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carlisting-popular-vehicles">
                        <div class="details text-center">
                            <div class="wrapper">
                                <h5 class="price text-thm4">$129</h5>
                                <h6 class="title"><a href="page-car-single-v1.html">Volvo XC90 -
                                        2020</a></h6>
                            </div>
                        </div>
                        <div class="thumb">
                            <img class="img-fluid" src="{% static 'images/item/3.png' %}" alt="3.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>