<div class="sidebar_vichel_avail_Widget">
    <div class="thumb"><img src="assets/images/about/sidebar-vichel.jpg"
            alt="sidebar-vichel.jpg"></div>
    <div class="details">
        <div class="wrapper">
            <div class="title_count">20.597 <span><img
                        src="assets/images/home/title-bottom-border.svg" alt=""></span></div>
            <h4 class="title">Vehicle Available</h4>
            <p class="para">Find the right price, dealer and advice.</p>
            <p class="subtitle">CALL US NOW</p>
            <a class="phone_number" href="#">+1 670 936 46 70</a>
        </div>
    </div>
</div>