{% load static %}
<div class="sidebar_recent_viewed_widgets">
    <h4 class="title">Recently Viewed</h4>
    <div class="d-flex mb20">
        <div class="flex-shrink-0">
            <img class="align-self-start mr-3" src="{% static 'images/blog/s1.jpg' %}" alt="s1.jpg">
        </div>
        <div class="flex-grow-1 ms-3">
            <h5 class="post_title">$129</h5>
            <p>BMW M8 Gran Coupe</p>
            <p>Base - 2021</p>
        </div>
    </div>
    <div class="d-flex mb20">
        <div class="flex-shrink-0">
            <img class="align-self-start mr-3" src="{% static 'images/blog/s2.jpg' %}" alt="s2.jpg">
        </div>
        <div class="flex-grow-1 ms-3">
            <h5 class="post_title">$129</h5>
            <p>Bentley Bentayga</p>
            <p>V8 - 2020</p>
        </div>
    </div>
    <div class="d-flex">
        <div class="flex-shrink-0">
            <img class="align-self-start mr-3" src="{% static 'images/blog/s3.jpg' %}" alt="s3.jpg">
        </div>
        <div class="flex-grow-1 ms-3">
            <h5 class="post_title">$129</h5>
            <p>Ferrari 488 Spider</p>
            <p>Base - 2019</p>
        </div>
    </div>
</div>